* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(243, 241, 241);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 84px;
  margin: 0 10px;
}

#trybewarts-header-title {
  color: white;
  font-size: xxx-large;
}

.trybewarts-login {
  display: flex;
  margin: 0 10px;
  flex-flow: row wrap;
}

.trybewarts-login input {
  height: 30px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 0 3px;
  background-color: white;
}

.trybewarts-login button {
  background-color: rgb(80, 26, 124);
  color: white;
  border: none;
  width: 100px;
  border-radius: 8px;
}

main {
  display: flex;
}

#form-title-container {
  width: 675px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#form-title-container h1 {
  text-align: center;
  margin: 4% auto 2%;
}

#first-container {
  display: flex;
  margin: 1% auto;
  flex-flow: column;
}

.form-input-name-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 0 3px;
}

.form-input-house-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3px;
}

.form-input-name-container input , .form-input-house-container input {
  height: 35px;
  width: 220px;
  margin: 5px 3px;
  border-radius: 5px;
  border: 1px solid white;
}

#house-select-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#house-select-container select {
  height: 35px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  margin: 5px 3px;
}

#house-select-container label {
  margin-left: 3px;
}

#line {
  border: 1px solid rgb(188, 186, 186);
  width: 452px;
  margin: 0 auto;
}

#second-container {
  display: flex;
  width: 452px;
  margin: 10px auto;
}

#family-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* background-color: blue; */
}

#family-container label {
  margin-bottom: 4px;
}

#family-container input {
  margin: 8px 0;
}

#checkbox-content {
  margin-left: 30px;
}

#checkbox-content div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 15px;
}

.checkbox-input-container {
  width: 80px;
  margin-right: 30px;
}

#second-line {
  border: 1px solid rgb(210, 210, 210);
  width: 452px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#image-container {
  width: 45%;
  text-align: center;
  margin: auto;
}

#trybewarts-forms-logo {
  height: 500px;
}

